:root {
    --color-black: #000;
    --color-black-lite: #333333;
    --color-white: #fff;
    --color-blue: #81B3D2;
    --color-blue-dark:#669EC0;
    --color-blue-extra-dark: #5496BD;
    --color-brown: #766357;
    --color-brown-dark: #604E43;
    --color-brown-extra-dark: #503E33;
    --color-grey: #EEEEEE;
    --color-grey2: #F2F2F2;

}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-black-lite);
    background-color: var(--color-white)

}
.main-menu{
    list-style: none;
}

.main-menu a {
    color: var(--color-black);
    text-decoration: none;
    font-weight 700;
}

.main-menu a:hover{
    color: var(--color-blue)
}

.main-menu a:active {
    color: var(--color-black);
    opacity: 0,3;
}

.page-menu h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features ul {
    list-style: none
}

.features-list {
  background-color: var(--color-grey);
  padding: 0;
  margin: 0;
}

.features-with-image {
    background-color: var(--color-blue);
    color: var(--color-white)
}

  .search button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: var(--color-brown);
  }

  .search button:hover {
  color: var(--color-brown-dark) ;
  }

  .search button:active {
  color:var(--color-brown-extra-dark) ;
  }

.question{
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer{
color: var(--color-black);
}

.main-footer p {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
}
.main-footer ul {
    list-style: none;
}

.main-footer .website-by {
  font-size: 14px;
  font-weight: 400;
}

/*style hotels*/

.sort p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort {
  color: var(--color-black)
}

.sort  {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
}

.detailed{
  font-size: 14px;
  color: var(--color-white);
  line-height: 21px;
  font-weight: 700;
  border: none;
  background-color: var(--color-blue);
}

.detailed:hover {
  color: var(--color-white);
  background: var(--color-blue-dark)
}

.detailed:active {
  color: var(--color-white);
  background: var(--color-blue-extra-dark)
}


.reserve{
  font-size: 14px;
  color: var(--color-white);
  line-height: 21px;
  font-weight: 700;
  border: none;
  background-color: var(--color-brown);
}

.reserve:hover{
  color: var(--color-white);
  background-color:var(--color-brown-dark) ;
}

.reserve:active{
  color: var(--color-white);
  background-color:var(--color-brown-dark) ;
}

.found-hotels{
  list-style: none;
}
